// files to contain the variables for styling
$backgroundColor: white;
$blueMain: #148FE8;

// cover
$dotDiameter: 15px;
$arrowSize: 20px;
$arrowThickness: 4px;

// contact
$iconSize: 70px;

// z-indices
$zNavBar: 5;
$zButtons: 2;