// files to contain the variables for styling
$backgroundColor: white;
$blueMain: #148FE8;

// widths and heights
$headerHeight: 80px;
$buttonSize: 60px;

// ratios
$courtWidth: 600px;
$courtRatio: 0.5744;
$gameWidth: $courtWidth;

