.graphs {
  display: flex;
  flex-direction: row;
  width: $buttonSize * 2 + $courtWidth;
  height: 400px;
  flex-shrink: 0;
  align-items: center;

  .radar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .canvasjs-chart-canvas {
    // position: block !important;
    bottom: -65px;
  }
}