.slide.contact {
  height: 200px;

  .title {
    margin-bottom: 30px;
  }

  .links {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .icon {
      width: $iconSize;
      height: $iconSize;
      transition-duration: 0.5s;

      &:hover {
        opacity: 0.75;
        transform: translateY(-5px);
      }

      &.mail {
        background: url('../images/mail.png') center no-repeat/cover;      
      }
      &.linkedin {
        background: url('../images/linkedin.png') center no-repeat/cover;      
      }
      &.github {
        background: url('../images/github.png') center no-repeat/cover;
      }
    }
  }
}