.slide.profile {
  height: 100vh;

  .content {
    margin-top: 80px;

    .bottom {
      display: flex;
      flex-direction: row;

      .text {
        width: 310px;
        font-size: 20px;
        margin: auto 40px auto 0;
      }
  
      .border {
        background: radial-gradient(circle, white, $backgroundColor 50%);
        height: 300px;
        width: 300px;
        border-radius: 50%;
        padding: 5px;
        margin: auto 40px auto 0;
      }
    
      .picture {
        height: 300px;
        width: 300px;
        background: url('../images/headshot.jpg') center no-repeat;
        background-size: 300px;
        border-radius: 50%;
      }  
    }
  }
}