.slide.skills {
  .content {
    .title {
      margin-bottom: 10px;
    }
    .chart {
      margin-bottom: 20px;

      .label-chart {
        margin-left: 60px;

        span {
          font-size: 18px;
        }
      }

      .bar {
        cursor: pointer;
        transition-duration: 0.4s;

        &:hover {
          fill-opacity: 0.75;
        }
      }
    }

    .chart-skills-web {
      .bar {
        fill: #148FE8;        
      }
    }  
  }
}