// navbar on top of the page

.navbar {
  position: fixed;
  display: flex;
  height: 40px;
  width: 100%;
  background: $backgroundColor;
  box-shadow: 0 1px 5px 1px #727272;
  z-index: $zNavBar;

  .section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
    cursor: pointer;

    // expanding border
    &:after {
      position: absolute;
      bottom: 0;
      display: block;
      content: '';
      border-bottom: solid 3px $blueMain;
      transform: scaleX(0); // hidden
      width: 100%;
      transition: transform 0.3s ease-in-out;
    }

    &:hover:after {
      transform: scaleX(1);
    }

    &:active {
      animation: clickColor ease-in-out 0.5s;
    }

    @keyframes clickColor {
      50% {
        background: rgba(0, 0, 0, 0.06);
      }
      100% {
        background: white;
      }
    }
  }
}